player-connection-mode=Listen
player-connection-guid=803452558
player-connection-debug=0
player-connection-project-name=EsyaKapmaca
player-connection-ip=10.16.13.189
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=96d0b53b1ace4246a3036c041fa7106f
